html, body {
    padding: 2px;
}

* {
    line-height: 1.7em;
}

.right {
    float: right;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

span#status {
    color: #0622AF;
}

input#base-url {
    width: 300px;
}

div.option {
    margin: 10px;
}